@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.eot");
	src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
		url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.eot");
	src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"),
		url("../fonts/Roboto-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

body {
	margin: 0 auto;

	font-family: Roboto, serif;
	font-style: normal;
	font-weight: normal;
}

.trial {
	/* height: 33px; */
	max-width: 1440px;
	margin: 0 auto;

	text-align: center;
	font-size: 14px;
	line-height: 33px;
	letter-spacing: 0.10998px;

	color: #ffffff;
	background: #161f49;
}

header {
	position: sticky;
	top: 0px;
	background-color: #fff;
}

.nav__container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 80px;
}

.nav__menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	border-bottom: 1px solid rgba(64, 64, 64, 0.3);
}

.nav__logo {
	margin-left: 36px;
	margin-right: 195px;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.nav__list {
	/* width: 766px; */
	display: flex;
	justify-content: space-between;
	margin-right: 172px;
	list-style-type: none;
}
.nav__item {
	display: flex;
	flex-direction: column;
	align-self: center;

	font-size: 18px;
	line-height: 25px;

	text-align: center;
	letter-spacing: 0.10998px;

	color: #404040;
}

.nav__item a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid;
	border-bottom-color: rgba(81, 45, 245, 0);
	transition: border-bottom-color 0.2s linear;
}

.nav__item a:hover {
	border-bottom-color: rgba(81, 45, 245, 1);
}

.nav__button {
	/* width: 166px; */
	/* height: 80px; */

	font-size: 14px;
	line-height: 80px;

	text-align: center;
	letter-spacing: 0.10998px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #2468ff;
	transition: background-color 0.3s linear;
}

.nav__button:hover {
	background-color: #161f49;
}

section {
	max-width: 1440px;
	margin: 0 auto;
}

footer {
	max-width: 1440px;
	margin: 0 auto;
}

.intro {
	/* max-width: 1440px;
	margin: 0 auto; */

	background-color: #fff;
	background-image: url("../image/Intro_bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-height: 591px;
}
.intro__tittle {
	margin: 0 auto;
	margin-bottom: 24px;
	padding-top: 120px;

	font-weight: normal;
	font-size: 72px;
	line-height: 80px;
	text-align: center;

	color: #ffffff;
}
.intro__subtitle {
	margin: 0 auto;
	margin-bottom: 16px;

	font-weight: normal;
	font-size: 21px;
	line-height: 29px;
	text-align: center;

	color: #ffffff;
}
.intro__button {
	display: block;
	/* width: 226px; */
	height: 51px;
	margin: 0 auto;
	margin-bottom: 87px;

	border: 1px solid #ffffff;

	font-weight: bold;
	font-size: 14px;
	line-height: 13px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;

	transition: background-color 0.3s linear;
}

.intro__button:hover {
	background-color: #ffffff;
	color: #000;
}

.intro__img {
	display: block;
	margin: 0 auto;
}

.selection {
	text-align: center;
}
.selection__subtitle {
	margin-top: 110px;
	margin-bottom: 21.2px;

	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	text-align: center;

	color: #404040;
}

.selection__icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 27px;
}

.selection__shop {
	display: inline-block;
	padding-bottom: 4.8px;
	margin: 0 auto;
	margin-bottom: 116.2px;

	font-size: 14px;
	line-height: 16px;
	font-weight: bold;

	text-transform: uppercase;

	border-bottom: 1px solid currentColor;

	transition: color 0.25s linear;
}

.selection__shop:hover {
	color: #2468ff;
	cursor: pointer;
}

.selection__title {
	/* width: 729px; */

	margin: 0 auto;
	margin-bottom: 44px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.selection__description {
	/* width: 736px; */
	margin: 0 auto;
	margin-bottom: 78px;

	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #404040;
}

.selection__button {
	display: block;

	/* width: 244px; */
	/* height: 52px; */

	margin: 0 auto;

	font-size: 14px;
	line-height: 14px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #2468ff;
	transition: background-color 0.3s linear;
}

.selection__button:hover {
	background-color: #161f49;
}

.selection__img {
	display: block;
	margin: 0 auto;
	margin-bottom: 4px;
}

.devices {
	background-image: url("../image/diveces_bg.png");
	/* width: 100%;
	height: 1179px; */
	padding-top: 580px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.devices__items {
	display: flex;
	justify-content: space-between;
}
.devices__item1 {
	margin-left: 188px;
}
.devices__item2 {
	margin-right: 70px;
}
.devices__wi-fi {
	margin-bottom: 16px;

	width: 81px;
	height: 21px;
	border-radius: 18px;

	font-weight: bold;
	font-size: 16px;
	line-height: 21px;

	text-transform: uppercase;

	color: #000000;
	background: #ffffff;
}
.devices__name {
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
	text-align: left;
	color: #ffffff;
}
.devices__advantage {
	/* width: 222px; */
	margin-bottom: 20px;

	font-weight: normal;
	font-size: 42px;
	line-height: 48px;
	text-align: left;
	color: #ffffff;
}
.devices__item2 .devices__advantage {
	width: 542px;
}

.devices__description {
	/* width: 420px; */
	margin-bottom: 33px;

	font-size: 18px;
	line-height: 25px;
	text-align: left;
	color: #ffffff;
}
.devices__price {
	margin-bottom: 36px;

	font-size: 18px;
	line-height: 25px;
	text-align: left;
	color: #ffffff;
}

.devices__price span {
	font-weight: bold;
}

.devices__button {
	display: block;
	width: 220px;
	height: 52px;

	margin-bottom: 89px;

	font-weight: bold;
	font-size: 14px;
	line-height: 14px;

	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background: #2468ff;

	transition: background-color 0.3s linear;
}

.devices__button:hover {
	background-color: #161f49;
}

.devices__compare {
	display: inline-block;
	padding-bottom: 4.59px;

	font-size: 14px;
	line-height: 16px;

	text-align: center;
	text-transform: uppercase;

	border-bottom: 1px solid currentColor;

	color: #ffffff;

	opacity: 1;

	transition: opacity 0.2s linear;
}

.devices__compare:hover {
	opacity: 0.6;
	cursor: pointer;
}

.quote {
	height: 580px;
	background-color: #404040;
}
.quote__contain {
	/* width: 823px; */
	margin: 0 auto;
	margin-bottom: 49px;
	padding-top: 200px;

	font-weight: bold;
	font-size: 42px;
	line-height: 48px;

	text-align: center;

	color: #ffffff;
}
.quote__img {
	display: block;
	margin: 0 auto;
	margin-bottom: 205px;
}

.potential {
	background-image: url("../image/potential_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.potential__icons {
	margin: 0 auto;
	margin-bottom: 56px;
	padding-top: 166px;
	width: 296px;
	display: flex;
	justify-content: space-between;
}

.potential__icons img:hover {
	cursor: pointer;
}

.potential__title {
	margin-bottom: 44px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #ffffff;
}
.potential__description {
	/* width: 734px; */
	margin: 0 auto;
	margin-bottom: 118px;

	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #ffffff;
}
.potential__button {
	display: block;
	/* width: 220px; */
	height: 52px;
	margin: 0 auto;
	margin-bottom: 69px;

	font-weight: bold;
	font-size: 14px;
	line-height: 14px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #2468ff;

	transition: background-color 0.2s linear;
}

.potential__button:hover {
	background-color: #fff;
	color: #000;
}

.potential__slide-status {
	/* width: 44px; */
	display: flex;
	margin: 0 auto;
	padding-bottom: 72px;
	justify-content: space-between;
}

.potential__rectangle {
	width: 8px;
	height: 8px;
	background-color: #fff;
	opacity: 0.6;
}

.potential__rectangle:hover {
	cursor: pointer;
}

.potential__rectangle-active {
	opacity: 1;
}

.deserve {
	margin-top: 0;
	background-color: #fff;
}
.deserve__title {
	/* width: 782px; */
	margin: 0 auto;
	margin-bottom: 44px;
	padding-top: 135px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.deerve__description {
	/* width: 707px; */
	margin: 0 auto;
	margin-bottom: 78px;

	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #404040;
}

.deserve img {
	display: block;
	margin: 0 auto;
	padding-bottom: 120px;
}

.truemesh {
	background: #161f49;
	padding-top: 117px;
	padding-bottom: 124px;
}

.truemesh__title {
	margin-bottom: 44px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #ffffff;
}

.truemesh__description {
	margin: 0 auto;
	/* width: 710px; */
	margin-bottom: 38px;

	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #ffffff;
}

.truemesh__button {
	display: block;
	/* width: 220px; */
	/* height: 52px; */
	margin: 0 auto;
	margin-bottom: 50px;

	font-weight: bold;
	font-size: 14px;
	line-height: 14px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #2468ff;

	transition: background-color 0.3s linear;
}

.truemesh__button:hover {
	background-color: #fff;
	color: #000;
}

.truemesh img {
	display: block;
	margin: 0 auto;
}

.benefits {
	padding-top: 116px;
	padding-bottom: 119px;
}
.benefits__title {
	margin-bottom: 84px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.benefits__items {
	margin-left: 247px;
	margin-right: 262px;
	display: flex;
	justify-content: space-between;
}
.benefits__item {
	display: flex;
	flex-direction: column;
}
.benefits__icon {
	width: 77px;
	height: 77px;

	margin-bottom: 33px;
}
.benefits__subtitle {
	/* width: 192px; */
	margin-bottom: 17px;

	font-weight: normal;
	font-size: 21px;
	line-height: 24px;

	color: #404040;
}

.benefits__text {
	/* width: 199px; */

	padding-bottom: 26px;

	flex: 1 1 auto;

	font-size: 18px;
	line-height: 25px;

	color: #404040;
}
.benefits__button {
	margin-right: auto;
	padding-bottom: 5px;

	font-size: 14px;
	line-height: 16px;
	font-weight: bold;

	border-bottom: 1px solid currentColor;

	color: #404040;

	transition: color 0.2s linear;
}

.benefits__button:hover {
	color: #2468ff;
}

.systems {
	padding-top: 69px;
	padding-bottom: 108px;

	background: #f7f7f7;
}
.systems__title {
	/* width: 328px; */
	margin: 0 auto;
	margin-bottom: 39px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.systems__selectors {
	/* width: 300px; */
	margin: 0 auto;
	margin-bottom: 39px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.systems__selector {
	width: 18px;
	height: 18px;

	font-size: 14px;
	line-height: 18px;
	text-align: center;

	letter-spacing: 0.10998px;

	color: #ffffff;
	background: #999999;
}

.systems__selector:hover {
	cursor: pointer;
}

.sytems__active {
	background: #00b68c;
	outline: 1px solid #00b68c;
	outline-offset: 3px;
}

.systems__divider {
	/* width: 50px; */
	height: 1px;
	background: #999999;
}

.systems__img {
	display: block;
	margin: 0 auto;
	margin-bottom: 58px;
}
.systems__home-size {
	/* width: 537px; */
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
}

.systems__home-size p {
	font-size: 18px;
	line-height: 21px;

	text-align: center;

	color: #404040;
}

.systems__home-size p:first-child {
	margin-right: 14px;

	line-height: 60px;
}

.systems__home-size p:last-child {
	margin-left: 14px;

	line-height: 60px;
}

.systems__choice {
	/* width: 392px; */
	display: flex;
	justify-content: space-between;
}
.systems__choice button {
	/* height: 60px; */
	padding: 0 25px;

	font-size: 21px;
	line-height: 60px;

	text-align: center;

	color: rgba(64, 64, 64, 0.3);
	border: 2px solid rgba(64, 64, 64, 0.3);
}

.systems__button {
	/* width: 220px;
	height: 52px; */
	display: block;
	margin: 0 auto;

	font-weight: bold;
	font-size: 14px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background: #999999;
}

.systems__button:hover {
	cursor: not-allowed;
}

.turns {
	padding-top: 117px;
	padding-bottom: 121px;
}
.turns__title {
	margin-bottom: 123px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.turns__container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.turns__img {
	margin-right: 80px;
}
.turns__content {
	margin-bottom: 117px;
}
.turns__menu {
	display: flex;
	margin-bottom: 34px;
}

.turns__menu-item {
	margin-right: 30px;
	padding-bottom: 6.25px;

	font-size: 14px;
	line-height: 19px;

	text-transform: uppercase;

	color: #999999;
	border-bottom: 2px solid #dedede;

	transition: all 0.2s linear;
}

.turns__menu-item:hover {
	cursor: pointer;
	color: #2468ff;
	border-bottom: 2px solid #2468ff;
}

.turns__menu-active {
	color: #2468ff;
	border-bottom: 2px solid #2468ff;
}

.turns__text {
	/* width: 540px; */
	margin-right: 88px;
	margin-bottom: 28px;

	font-size: 36px;
	line-height: 52px;

	color: #404040;
}

.turns__text:after {
	content: "”";
}

.turns__text:before {
	content: "“";
}

.turns__discription {
	margin-bottom: 29px;

	font-size: 18px;
	line-height: 25px;

	color: #646565;
}

.turns__discription p:first-child {
	padding-bottom: 14px;
}

.turns__button-shop {
	/* width: 243px;
	height: 52px; */

	font-weight: bold;
	font-size: 13px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background: #2468ff;

	transition: background-color 0.25s linear;
}

.turns__button-shop:hover {
	background-color: #161f49;
}

.turns__experts {
	margin-bottom: 35px;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #404040;
}
.turns__team {
	margin-bottom: 44px;
	font-size: 18px;
	line-height: 25px;

	text-align: center;

	color: #404040;
}
.turns__button-help {
	/* width: 220px;
	height: 52px; */
	display: block;
	margin: 0 auto;
	margin-bottom: 94px;

	font-weight: bold;
	font-size: 13px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background: #2468ff;

	transition: background-color 0.25s linear;
}

.turns__button-help:hover {
	background-color: #161f49;
}

.turns__conditions {
	display: flex;
	justify-content: space-between;
	margin-left: 233px;
	margin-right: 245px;
}
.turns__condition {
	display: flex;
	align-items: center;
}
.turns__condition img {
	width: 36px;
	height: 36px;
	margin-right: 18px;
}

.end {
	padding-top: 111px;
	padding-bottom: 114px;

	background-image: url("../image/end_bg.png");
	background-size: cover;
}
.end__title {
	/* width: 596px; */
	margin: 0 auto;
	margin-bottom: 83px;

	font-weight: normal;
	font-size: 50px;
	line-height: 60px;

	text-align: center;

	color: #ffffff;
}

.end__button {
	display: block;
	/* width: 234px;
	height: 52px; */
	margin: 0 auto;

	font-weight: bold;
	font-size: 14px;

	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
	background: #2468ff;

	transition: all 0.25s linear;
}

.end__button:hover {
	background-color: #ffffff;
	color: #000;
}

.footer {
	padding-top: 90px;
	padding-bottom: 100px;
	padding-left: 190px;
	padding-right: 190px;

	background: #161f49;
}

.footer__logo {
	margin-bottom: 58px;
}

.footer__containers {
	display: flex;
	margin-bottom: 44px;
}
.footer__columns {
	display: flex;
	margin-right: 54px;
}

.footer__column {
	/* width: 250px; */
}
.footer__row {
	margin-bottom: 8px;

	font-size: 17px;
	line-height: 25px;

	color: #ffffff;
}

.footer__row:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer__connect {
	/* width: 512px; */
}
.footer__header-connect {
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;

	color: #ffffff;
}
.footer__connect-text {
	margin-bottom: 69px;

	font-size: 18px;
	line-height: 25px;

	color: #ffffff;
}

.footer__submit {
	align-items: center;
}

.footer__email {
	/* width: 293px;
	height: 44px; */
	margin-right: 28px;

	font-size: 14px;
	line-height: 17px;

	color: #fff;

	border: none;
	border-bottom: 1px solid #fff;
	background: none;
}

.footer__button {
	/* width: 191px;
	height: 53px; */

	font-size: 14px;

	text-align: center;
	text-transform: uppercase;

	color: #ffffff;

	border: 1px solid #ffffff;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: #989898;
	opacity: 1;
	transition: opacity 0.3s;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s;
}

:-moz-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
}

:focus::-moz-placeholder {
	opacity: 0;
}

:focus:-moz-placeholder {
	opacity: 0;
}

:focus:-ms-input-placeholder {
	opacity: 0;
}

.footer__email:focus {
	outline: none;
}

.footer__email:autofill {
	-webkit-box-shadow: inset 0 0 0 50px #161f49; /* цвет вашего фона */
	-webkit-text-fill-color: #fff; /* цвет текста */
}

.footer__email:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #161f49; /* цвет вашего фона */
	-webkit-text-fill-color: #fff; /* цвет текста */
	font-size: 17px;
	font-family: Roboto, serif;
	font-style: normal;
	font-weight: normal;
}

.footer__copyright {
	margin-right: 277px;
	font-size: 14px;
	line-height: 23px;

	letter-spacing: 0.10998px;

	color: #ffffff;
}

.footer__end {
	display: flex;
	align-items: flex-end;
}

.footer__link {
}

.footer__link a {
	margin-right: 27px;
}
