* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	/* отображаем курсор в виде руки при наведении; некоторые
	считают, что необходимо оставлять стрелочный вид для кнопок */
	cursor: pointer;
}

body {
	width: 1440px;
	margin: 0 auto;
}

nav {
	display: flex;
	height: 80px;
}

.trial {
	height: 33px;

	font-family: Roboto;
	text-align: center;
	font-size: 14px;
	line-height: 33px;
	letter-spacing: 0.10998px;

	color: #ffffff;
	background: #161f49;
}
.nav__logo {
	margin-left: 36px;
	margin-right: 195px;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.nav__list {
	width: 766px;
	display: flex;
	justify-content: space-between;
	margin-right: 172px;
	list-style-type: none;
}
.nav__item {
	display: flex;
	flex-direction: column;
	align-self: center;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;

	text-align: center;
	letter-spacing: 0.10998px;

	color: #404040;
}

.nav__item a {
	text-decoration: none;
	color: inherit;
}

.nav__item:hover {
	text-decoration: underline;
}

.nav__button {
	width: 166px;
	height: 80px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 80px;

	text-align: center;
	letter-spacing: 0.10998px;
	text-transform: uppercase;

	color: #ffffff;
	background-color: #2468ff;
}

.intro {
	height: 687px;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("../image/Intro_bg.png");
	background-repeat: no-repeat;
}
.intro__tittle {
	text-align: center;

	margin: 0 auto;
	margin-bottom: 24px;
	padding-top: 120px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 80px;

	color: #ffffff;
}
.intro__subtitle {
	text-align: center;

	margin: 0 auto;
	margin-bottom: 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 29px;

	color: #ffffff;
}
.intro__button {
	display: block;
	width: 226px;
	height: 51px;
	margin: 0 auto;
	margin-bottom: 87px;

	border: 1px solid #ffffff;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 13px;

	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;

	color: #ffffff;
}

.intro__img {
	display: block;
	margin: 0 auto;
}
